.position-start {
    padding-top: 1em;
}

.solid-margin {
    border: rgb(219, 219, 219) solid 1px;
}

.card-font-size {
    font-size: 13px;
}

.description-size {
    margin-top: 1em;
    font-size: 12px;
}

.description-layout {
    border-radius: 4px;
    border: rgb(219, 219, 219) solid 1px;
}

.done {
    text-align: center;
    margin-top: 5em;
}

.menu {
    background-color: rgb(247, 247, 247);
    padding-top: 4.5em;
    height: 120px;
}

.rest {
    border: #ffdd54 solid 2px; margin-bottom: 1em; height: 100px; text-align: center;
}

.divide {
    border: #ffdd54 solid 1px; margin-bottom: 1em;
}

.without-training {
    margin-top: 15em;
}

.big-font {
    font-size: 24px;
}

.btn-finish-exercise {
    background-color: #ffe680; 
    margin-top: 1em;
}