<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WorkHard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dicas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recomendações</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sempre que possível</h6>
                    <ul>
                        <li class="card-text card-font-size">Faça de 10 a 15 minutos de aquecimento.</li>
                        <li class="card-text card-font-size">Priorize os exercícios compostos.</li>
                        <li class="card-text card-font-size">Não misture grupos musculares, um grupo por vez.</li>
                        <li class="card-text card-font-size">Faça entre 2 a 4 séries.</li>
                        <li class="card-text card-font-size">Faça entre 12 a 14 repetições.</li>
                        <li class="card-text card-font-size">Selecione um OU dois exercícios compostos e um exercício de isolamento.</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atenção</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cuidados</h6>
                    <ul>
                        <li class="card-text card-font-size">
                            Antes de começar a seguir uma série de exercícios, tanto em casa como na academia, é fundamental consultar um médico para ter certeza que está apto a praticar esse tipo de treino.</li>
                        <li class="card-text card-font-size">
                            Também é importante ter o auxílio de um profissional de educação física, que poderá te ensinar as técnicas corretas de execução dos movimentos e ajudar caso algum problema ocorra.</li>
                        <li class="card-text card-font-size">
                            Se optar por malhar sozinho, com o auxílio de vídeos da internet, tenha o cuidado de prestar bem atenção nas explicações e assisti-los várias vezes, até ter certeza de como os movimentos devem ser feitos.</li>
                        <li class="card-text card-font-size">
                            Além disso, ao sentir uma lesão ou se machucar, não demore para buscar o atendimento de um médico.</li>
                    </ul>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </nav>

<div class="container-fluid position-start">
    <br>
    <div class="col-12">
        <label for="select_project" class="form-label">Treino de</label>
        <select id="select_project" class="form-select form-select-sm"
            (change)="changeDay($event)">
            <option value="{{weekDay}}">{{weekDay}}</option>
            <option *ngFor="let day of days" value="{{day}}">
                {{ day }}
            </option>
        </select>
    </div>
    <hr>
    <div class="container-fluid">
        <div *ngIf="!IsTrainingDay" class="row justify-content-center">
            <div class="col-8 done">Este não é dia de treino, selecione um dia para treinar.</div>
        </div>
        
    </div>
    
    <div class="col-12 shadow p-3 mb-3 bg-body rounded solid-margin" *ngFor="let exercise of exercisesList;">
        <div class="row justify-content-center">
            <div class="col-6" style="margin-top: 0.5em;">
                <img class="col-8" src="{{exercise.image}}" style="border: 1px rgb(228, 228, 228) solid; border-radius: 5px;">
            </div>
            <div class="col-6">
                <!-- <button *ngIf="!exercise.started" class="col-12 btn btn-secondary btn-sm shadow" (click)="changeExercise(exercise)">Iniciar</button> -->
                <button *ngIf="!exercise.started" class="col-12 btn btn-success btn-sm shadow" (click)="finishExercise(exercise)">Concluído</button>
                <!-- <button class="card card-small success" (click)="showToast(EventTypes.Success)">
                    <span class="material-icons">checkmark</span>
                    <span>Show Success</span>
                  </button> -->
                <div *ngIf="exercise.description !== ''" class="description-size"><span><strong>Descrição:</strong><br> {{exercise.description}}</span></div>                
            </div>
            <div class="col-12 description-size">
                <div class="row">
                    <div class="col-5"><span><strong>Exercício:</strong><br> {{exercise.name}}</span></div>
                    <div class="col-3"><span><strong>Tipo:</strong><br> {{exercise.type}}</span></div>
                    <div class="col-4"><span><strong>G. muscular:</strong><br> {{exercise.muscleGroup}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="done" class="container">
    <div class="row justify-content-center">
        <div class="col-8 done">Boaa! agora pode ir descansar!</div>
    </div>
</div>
<!-- Toaster -->
<app-toaster></app-toaster>